# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Java class files
*.class
# Logs
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
# Maven target directory
/target/
.mvn/
mvnw
mvnw.cmd
# OS system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
# HTTP client requests (в IDE)
httpRequests/
